.root{
    -fx-background-image: url("lightbackground.png");;
    -fx-background-size: stretch;
    -fx-background-position: center, center;
    -fx-font-size: 12pt;
}
#LightButton{
    -fx-background-image: url("lighticon.png");
    -fx-pref-height: 128;
    -fx-pref-width: 128;
    -fx-background-size: stretch;
    -fx-background-position: center, center;
}
#Welcome{
    -fx-font-fill: greenyellow;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 32pt;
    -fx-translate-x: 300;
    -fx-translate-y: 200;
}
#MainTitle {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 60pt;
    -fx-translate-y: 250;
    -fx-translate-x: 125;
    -fx-text-fill: white;
}
#choiceBox{
    -fx-translate-x: 700;
    -fx-translate-y: 650;
}
.button{
    -fx-pref-height: 60;
    -fx-pref-width: 200;
    -fx-font-size: 12;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-color: blueviolet;
    -fx-text-fill:greenyellow;
    -fx-opacity: 0.9;
    -fx-font-weight: bold;
}
#LaunchButton{
    -fx-background-color: goldenrod;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-translate-x: 650;
    -fx-translate-y: 800;
}
#selected{
    -fx-pref-height: 60;
    -fx-pref-width: 200;
    -fx-font-size: 12;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-color: rosybrown;
    -fx-opacity: 0.8;
    -fx-font-weight: bold;
}
#ViewTextTitle{
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14pt;
    -fx-translate-x: 400;
    -fx-translate-y: 650;
}
#BackgroundPane{
    -fx-fill: gainsboro;
    -fx-stroke: mediumblue;
    -fx-translate-y: 625;
    -fx-translate-x: 350;
    -fx-pref-width: 500;
    -fx-pref-height: 150;
    -fx-opacity: 0.2;
}
#bankBackground{
    -fx-fill: maroon;
    -fx-stroke: black;
}
#purchaseButton{
    -fx-background-color: goldenrod;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-translate-x: 45;
    -fx-translate-y: 210;
    -fx-pref-height: 30;
    -fx-pref-width: 150;
}
#itemCost{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15pt;
    -fx-translate-x: 80;
    -fx-translate-y: 200;
}
#moneyAvailable{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12pt;
    -fx-translate-x: 40;
    -fx-translate-y: 50;
    -fx-text-alignment: center;
}
#itemIcon{
    -fx-translate-x: 80;
    -fx-translate-y: 80;

}
#prevButton{
    -fx-translate-x: 85;
    -fx-translate-y: 255;
}
#nextButton{
    -fx-translate-x: 150;
    -fx-translate-y: 255;
}
#invalidPurchase{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12pt;
    -fx-translate-x: 40;
    -fx-translate-y: 50;
    -fx-text-fill: goldenrod;
    -fx-text-alignment: center;
}